<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>
    <property name="log.dir" value="logs/nzyw"/>
    <property name="encoding" value="UTF-8"/>
    <property name="console-pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n"/>
    <property name="file-pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${console-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <appender name="fileDefault"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/nzyw.log</file>
        <prudent>false</prudent>
        <Append>true</Append>
        <encoder>
            <pattern>${file-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/nzyw.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- root -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>