<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>
    <property name="log.dir" value="logs/nzyw"/>
    <property name="encoding" value="UTF-8"/>
    <property name="console-pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger.%M:%L  %msg%n"/>
    <property name="file-pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger.%M:%L  %msg%n"/>
    <!--<property name="file-pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n"/>-->

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${console-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <appender name="rollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/nzyw.log</file>
        <prudent>false</prudent>
        <Append>true</Append>
        <encoder>
            <pattern>${file-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/flightchangemon.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- project default level -->
    <logger name="com.ifhz" level="INFO"/>

    <!-- root -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>

    <appender name="DeviceCommonLog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/device.log</file>
        <prudent>false</prudent>
        <Append>true</Append>
        <encoder>
            <pattern>${data-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/device.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="CounterCommonLog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/counter.log</file>
        <prudent>false</prudent>
        <Append>true</Append>
        <encoder>
            <pattern>${data-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/counter.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="ErrorLog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <prudent>false</prudent>
        <Append>true</Append>
        <encoder>
            <pattern>${file-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error.%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
        </rollingPolicy>
    </appender>
</configuration>